{% extends 'base.html.twig' %}

{% block title %}Admin zone{% endblock %}

{% block content %}
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                Esta es la zona de administradores
                <ul>
                    <li>
                        <a href="{{ path('admin_users_list') }}">User list</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
